# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vercel
# hardhat
artifacts/
cache/
build/
interface/build/
.secrets.json

idsPerCycle/
metadata/
metadata-unreveal/
lastActiveCycle.json
lastId.json
meta-config-unreveal.json
meta-config.json
